body {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 50vw;
}

.container {
  padding: 0;
  position: relative;
  border: 1px solid #64a9e0;
}

.cell {
  background-color:#64a9e0;
  height: 50px;
  width: 50px;
}

.button {
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
  position: absolute;
  font-size: 24px;

  &:hover {
    box-shadow: 0 0 5px 2px #64a9e0;
  }
}

.append-column {
  background-color: #e6a83b;
  top: 2px;
  left: 222px;
}

.remove-column {
  background-color: #9f2019;
  top: 10px;
  right: 62px;
  display: none;
}

.append-row {
  background-color: #e6a83b;
  top: 222px;
  left: 2px;
}

.remove-row {
  background-color: #9f2019;
  bottom: 62px;
  left: 10px;
  display: none;
}

