body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 50vw;
}

.container {
  padding: 0;
  position: relative;
  border: 1px solid #64a9e0;
}

td {
  background-color:#64a9e0;
  height: 50px;
  width: 50px;
}

.button {
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border: none;
  position: absolute;
  font-size: 24px;
  outline: none;

  &:hover {
    box-shadow: 0 0 5px 2px #64a9e0;
  }

  &[disabled] {
    background: #c1c1c1;
  }

  &[disabled]:hover {
    background: #c1c1c1;
    cursor: not-allowed;
  }
}

.append-column {
  background-color: #e6a83b;
  top: 2px;
  left: 222px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e9b862;
  }
}

.remove-column {
  background-color: #9f2019;
  top: -54px;
  left: 4px;
  transition: background-color 0.2s ease;
  //display: none;

  &:hover {
    background-color: #af423c;
  }
}

.append-row {
  background-color: #e6a83b;
  top: 222px;
  left: 2px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e9b862;
  }
}

.remove-row {
  background-color: #9f2019;
  top: 2px;
  left: -54px;
  transition: background-color 0.2s ease;
  //display: none;

  &:hover {
    background-color: #af423c;
  }
}

